{% load bootstrap_tags %}
    <form actn="{{ form.get_absolute_url }}" method="post" class="form-horizontal"
        {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <p class="nojs"><em>Note: Please enable Javascript to use this contact form. <a href="http://support.microsoft.com/gp/howtoscript">Learn how here.</a></em></p>
        {{ form_for_form|as_bootstrap }}
        <div class="form-actions">
            <input type="submit" value="{{ form.button_text }}" class="button" />
        </div>
    </form>


<script type="text/javascript">
$(function(){
    $f = $(".initialForm");
    $(".nojs").remove();
    $f.attr({"action": $f.attr("actn")});
});

$("document").ready(function(){
    $("form").each(function(key, value){
        if (typeof($(this).attr('actn')) !== 'undefined') {
            $(this).attr({"action": $(this).attr("actn")});
        }
    })
});
    </script>