{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block main-content-wrap %}
<section class="light-bg intro-text l-section-pad">
  <div class="l-container skinny">
    {% page "intro" type="wysiwyg" %}
  </div>
</section>

<section class="l-section-pad main-subpage-content-area">
  <div class="l-container skinny">
      {% block content %}
      <h2 class="big-subhead">Kasey just added this {% page "content_heading" %}</h2>
      {% page "content" type="wysiwyg" placeholder="Insert Content here" %}

      <div class="l-container">
        <div class="l-one-half">
          {% page "subcontent_1" type="wysiwyg" placeholder="Insert Content here" %}
        </div>
      </div>


      {% endblock content %}
  </div>
</section>

<section class="photo-callout-ribbon">
  <div class="content-wrap">
    <div class="l-container skinny">
      <div class="content-col dark-bg">
        <h5>{% page "callout_head_1" placeholder="Heading" %} <small>{% page "callout_small_1" placeholder="subhead" %}</small></h5>
      </div>
      <a href="#TODO" class="callout-button green-bg">More > </a>
      </div>
    </div>
  </div>
</section>


<section class="about-ribbon">
  <div class="content-wrap">
    <div class="l-container skinny">
      <div class="content-col dark-bg">
        <h5>{% page "callout_head_1" placeholder="Heading" %}</h5>
      </div>
    </div>
  </div>
</section>

<section class="testimonial">
  <div class="l-container skinny">
    {% page "testimonial" type="wysiwyg" placeholder="Insert Content Here" %}
  </div>
</section>

<section class="about-ribbon">
  <div class="content-wrap">
    <div class="l-container skinny">
      <div class="content-col dark-bg">
        <h5>{% page "callout_head_1" placeholder="Heading" %}</h5>
      </div>
    </div>
  </div>
</section>

<section class="testimonial">
  <div class="l-container skinny">
    {% page "testimonial" type="wysiwyg" placeholder="Insert Content Here" %}
  </div>
</section>

<section class="about-ribbon">
  <div class="content-wrap">
    <div class="l-container skinny">
      <div class="content-col dark-bg">
        <h5>{% page "callout_head_1" placeholder="Heading" %}</h5>
      </div>
    </div>
  </div>
</section>

<section class="testimonial">
  <div class="l-container skinny">
    {% page "testimonial" type="wysiwyg" placeholder="Insert Content Here" %}
  </div>
</section>




{% endblock main-content-wrap %}













{% comment %}
{% children as "posts" parent="portfolio" limit=3 %}
{% for post in posts %}



<div class="post-img-wrap">

  {% if post.content.before and post.content.main %}
  <div class="post-img-half">
    <a href="{{ post.get_absolute_url }}">
      <img src="{% imgix_url post.content.before %}?w=500&h=300&fit=crop" />
    </a>
    <h5>Before</h5>
  </div>
  <div class="post-img-half after">
    <a href="{{ post.get_absolute_url }}">
      <img src="{% imgix_url post.content.main %}?w=500&h=300&fit=crop" />
    </a>
    <h5>After</h5>
  </div>
  {% elif post.content.main_image %}
  <a href="{{ post.get_absolute_url }}">
    <img src="{% imgix_url post.content.main_image %}?w=1000&h=300&fit=crop" />
  </a>
  {% endif %}

</div>
<div class="post-preview-text clearfix">
  <div class="l-one-third">
    <h4><a href="{{ post.get_absolute_url }}" class="post-link no-underline">{{ post.content.title }}</a></h4>
  </div>
  <div class="l-two-thirds l-last">
    {{ post.content.intro|safe|truncatewords_html:60 }}
    <p class="more"><a href="{{ post.get_absolute_url }}">Read more...</a></p>
  </div>
</div>


{% empty %}
<p>No Messages have been posted yet.</p>
{% endfor %}

{% endcomment %}
