{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block main-content-wrap %}
<section class="l-section-pad main-subpage-content-area">
  <div class="l-container skinny">
      {% block content %}
      <div class="intro">
        {% page "content" type="wysiwyg" placeholder="Insert Content here" %}
      </div>

      <div class="clearfix green-heads">
        <div class="l-one-half">
          <h4 class="h6"><img class="home-icon" src="/dist/img/icon-human.svg"> {% page "subcontent_title_1" placeholder="title" %}</h4>
          {% page "subcontent_1" type="wysiwyg" placeholder="Insert Content here" %}
        </div>
        <div class="l-one-half l-last">
          <h4 class="h6"><img class="home-icon" src="/dist/img/icon-check.svg"> {% page "subcontent_title_2" placeholder="title" %}</h4>
          {% page "subcontent_2" type="wysiwyg" placeholder="Insert Content here" %}
        </div>
      </div>





      {% endblock content %}
  </div>
</section>
{% page "callout_bg_1" type="img" %}
<section class="photo-callout-ribbon" style="background-image: url({% if page.content.callout_bg_1 %}{% imgix_url page.content.callout_bg_1 %}{% else %}https://placem.at/places{% endif %}?w=1800&h=300&fit=crop)" data-srv-name="callout_bg_1">

  {% if page.content.callout_bg_1 %}
  <img class="mobile-only" src="{% imgix_url page.content.callout_bg_1 %}?w=780&h=300&fit=crop">
  {% endif %}

  <div class="content-wrap">
    <div class="l-container skinny">
      <div class="content-col dark-bg">
        <h5><span class="main-text">{% page "callout_head_1" placeholdser="Heading" %}</span> <small>{% page "callout_small_1" placeholder="subhead" %}</small></h5>
      </div>
      <a href="/doing-business{% if editing %}/admin{% endif %}" class="callout-button"><span>More <span class="arrow-wrap">>>></span></span></a>
      </div>
    </div>
  </div>
</section>

<section class="testimonial">
  <div class="test-inner">
    <h2 class="h1 green">{% page "testimonial_head_1" placeholder="Heading" %}</h2>
    {% page "testimonial" type="wysiwyg" placeholder="Insert Content Here" %}
  </div>
</section>


{% page "callout_bg_2" type="img" %}
<section class="photo-callout-ribbon" style="background-image: url({% if page.content.callout_bg_2 %}{% imgix_url page.content.callout_bg_2 %}{% else %}https://placem.at/places{% endif %}?w=1800&h=300&fit=crop)" data-srv-name="callout_bg_2">
{% if page.content.callout_bg_2 %}<img class="mobile-only" src="{% imgix_url page.content.callout_bg_2 %}?w=780&h=300&fit=crop">{% endif %}
  <div class="content-wrap">
    <div class="l-container skinny">
      <div class="content-col dark-bg">
        <h5><span class="main-text">{% page "callout_head_2" placeholder="Heading" %}</span> <small>{% page "callout_small_2" placeholder="subhead" %}</small></h5>
      </div>
      <a href="/about{% if editing %}/admin{% endif %}" class="callout-button"><span>More <br>>>> </span></a>
      </div>
    </div>
  </div>
</section>

<section class="l-section-pad featured-project">
  <div class="l-container skinny">
    <div class="l-one-quarter">
      {% page "featured_project" type="img" %}
      {% if page.content.featured_project or editing %}
      <img
        class="home-featured"
        src="{% if page.content.featured_project %}{% imgix_url page.content.featured_project %}{% elif editing %}https://placem.at/places{% endif %}?w=600"
        data-srv-name="featured_project"
      />
      {% endif %}
    </div>
    <div class="l-three-quarters l-last">
      {% page "featured_project_content" type="wysiwyg" placeholder="Insert Content Here" %}

      <p class="text-right text-uppercase"><a href="/real-estate{% if editing %}/admin{% endif %}">View more Projects >>></a></p>
    </div>
  </div>
</section>

{% page "callout_bg_3" type="img" %}
<section class="photo-callout-ribbon" style="background-image: url({% if page.content.callout_bg_3 %}{% imgix_url page.content.callout_bg_3 %}{% else %}https://placem.at/places{% endif %}?w=1800&h=300&fit=crop)" data-srv-name="callout_bg_3">
{% if page.content.callout_bg_3 %}<img class="mobile-only" src="{% imgix_url page.content.callout_bg_3 %}?w=780&h=300&fit=crop">{% endif %}
  <div class="content-wrap">
    <div class="l-container skinny">
      <div class="content-col dark-bg">
        <h5><span class="main-text">{% page "callout_head_3" placeholder="Heading" %}</span> <small>{% page "callout_small_3" placeholder="subhead" %}</small></h5>
      </div>
      <a href="/approach{% if editing %}/admin{% endif %}" class="callout-button"><span>More <br>>>> </span></a>
      </div>
    </div>
  </div>
</section>
{% endblock main-content-wrap %}
