{% extends "base.html" %}
{% block bodyclass %}{{ block.super }}{% endblock %}
{% block site_title %}{{ page.title }} {{ block.super }}{% endblock %}

{% block content %}


<div class="l-container skinny">
  <ul class="portfolio-list">
  {% for a in page.content.portfolio %}
  <li><a data-fancybox="gallery" href="#id_portfolio_item_{{ forloop.counter }}">{{ a.title }}</a></li>
  {% endfor %}
  </ul>
</div>



<div class="l-container skinny">

<ul class="thumbnails">
{% page_list "portfolio" %}
  {% list_item "gallery_img" type="img" %}
  <li>
    <a data-fancybox="gallery" class="fancybox" rel="fancied" href="#id_portfolio_item_{{ forloop.counter }}" title="{{ list_item.title }}">
      {% list_item "title" type="text" %}
      <img src="{% imgix_url list_item.gallery_img %}?w=250&h=250" />
    </a>
    <div id="id_portfolio_item_{{ forloop.counter }}" style="display:none;">
      {% list_item "description" type="wysiwyg" %}
    </div>
  </li>
{% end_list %}
</ul>

</div>


{% endblock content %}
