::-moz-selection { color: $selection-color;  background: $selection-bg; }
::selection      { color: $selection-color;  background: $selection-bg; }

body{
	background: $body-bg;
}


blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  	&:before {
	  // color: tint($text-color, 50%);
	  // content: "\201C";
	  // font-size: 4em;
	  // line-height: 0.1em;
	  // margin-right: 0.25em;
	  // vertical-align: -0.4em;
	}
	p {
	  display: inline;
	  &:before{
	  	content: "\201C";
	  }
	  &:after{
		content: "\201D";
	  }
	}
	cite{
		display:block;
		color: tint($text-color, 40%);
		font-size: 0.8em;
		font-style:italic;
		&:before{
			content: "\2014  ";
		}
	}
}
