.l-section-pad{
	padding: 3em 0 2em;
	@include breakpoint($above-stacked){
		padding: 4em 0 3em;
	}
}

.l-home-container {
  padding: 20px 0;
	@include breakpoint($above-stacked){
		padding: 30px 0;
	}
}

// .l-home-callout-wrap {
//   margin: 30px 0;
//   background: $grey;
//   @include breakpoint($above-stacked){
//     margin: 80px 0;
//   }
// }

.l-home-callouts {
  padding-top: 1px;
  padding-bottom: 1px;
  background: $grey;

  .l-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint($above-stacked){
      padding-top: 1px;
      padding-bottom: 1px;
      margin-top: -21px;
      margin-bottom: -41px;
      flex-direction: row;
    }
  }
}


.subpage-top-info{
	text-align:right;
	color: #fff;
	padding-top: 1em;
	i{ @include font-size(1.8);}
	a{
		@include font-size(3.2);
		color: #fff;
		&:hover{
			color: #fff;
		}
	}
}
.main-wrap {
  overflow: hidden;
  @include breakpoint($above-wide){
    background: linear-gradient(to right, $grey 24%, #fff 24%, #fff 100%);
  }
}
.sidebar {
  background: $grey;
  padding: 3em 30px;
  @include breakpoint($above-stacked){
    width: 40%;
    float: left;
    padding-bottom: 9000px;
    margin-bottom: -9000px;
  }
  @include breakpoint($above-skinny){
    width: 33.333%;
  }
  @include breakpoint($above-normal){
    width: 25.4%;
  }
}
.main {

  @include breakpoint($above-stacked){
    padding-right: 40px;
  }
}

.sidebar-links {
  list-style: none;
  margin: 1em 0;
  padding: 0;

  li{
    a {
      display: block;
      position: relative;
      padding: 12px 20px 12px 80px;
      margin-bottom: 14px;
      @include font-size(1.6);
      font-weight: bold;
      color: $text-color;
      text-decoration: none;
      box-shadow: none;
      border-radius: $border-radius;
      background: rgba(255,255,255,0.6);

      &:hover {
        color: $primary-color;
        background: #fff;
      }
      &:before {
        content: "";
        display: block;
        width: 70px;
        height: 70px;
        position: absolute;
        top: -14px;
        left: 0;
      }
    }

    &.protective a,
    &.industrial a,
    &.nano a{
      padding: 12px 80px 12px 20px;
      &:before {
        left: auto;
        right: 0;
      }
    }
    &.military a:before {
      background: url(../img/mil-connect.png) top left no-repeat transparent;
      background-size: 64px 64px;
      top: -17px;
    }
    &.protective a:before {
      background: url(../img/protective-covers.png) top left no-repeat transparent;
      width: 72px;
      height: 72px;
      background-size: 72px 72px;
    }
    &.industrial a:before {
      background: url(../img/industrial.png) top left no-repeat transparent;
      background-size: 64px 64px;
      width: 64px;
      height: 64px;
    }
    &.grips a:before {
      background: url(../img/grips.png) top left no-repeat transparent;
      background-size: 72px 72px;
      width: 72px;
      height: 72px;
      top: -22px;
    }
    &.custom a:before {
      background: url(../img/custom.png?cacheBust) top left no-repeat transparent;
      background-size: 58px 58px;
      width: 58px;
      height: 58px;
      top: -10px;
    }
    &.nano a:before {
      background: url(../img/nano.png) top left no-repeat transparent;
      background-size: 72px 72px;
      width: 72px;
      height: 72px;
      top: -12px;
    }
  }
}

.pdf-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
      display:inline-block;
      vertical-align: top;
      margin: 0 20px 1em 0;
      max-width: 250px;
      background: #eee;
      padding: 10px;
      &:hover {
        background: #ddd;
      }
      a {
        display: block;

      }
      .pdf {
        display: block;
      }
  }
}

.pdf{
  &:before {
    background: url(../img/pdf.svg) top left no-repeat;
    background-size: 20px 17px;
    content: "";
    width: 17px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 0;
  }
}

.category-list {
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    background: #eee;
    padding: 10px;
    &:hover {
      background: #ddd;
    }
    a {
      display: block;
    }
  }
    @include breakpoint($above-stacked){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        vertical-align: top;
        margin: 0 0 2em;
        width: 100%;
      }
    }

    @include breakpoint($above-skinny){
      li {
        width: calc(50% - 20px);
      }
    }
}

.distributor {
  margin-bottom: 1em;
}
.distrubutor-img{
  margin: 2em 0 0.5em;
  display: block;
  max-width: 200px;
  @include breakpoint($above-stacked){
      margin: 1em auto;
  }
}

.responsive-table {
  margin: 1em 0;
  width: 100%;

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
  }

  td {
    display: block;
    width: 100%;

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 100%; // magic number :( adjust according to your own content
      display: block;
      // end options

      @include breakpoint($above-normal){
        display: none;
      }
    }
  }

  th, td {
    text-align: left;
    width: 100%;
    padding: 10px;

    @include breakpoint($above-normal){
      display: table-cell;
      width: auto;
    }
  }
}


.feature-post-masthead {
  position: relative;
  padding-bottom: 1px;

  img {
    width: 100%;
    display: block;
    margin:0;
  }

  @include breakpoint($above-stacked){
    padding-bottom: 0;

    img {
      opacity: 0.4;
    }
  }
}

.jumbo-feature {
  color: #fff;
  margin: 1em 10px;

  @include breakpoint($above-stacked){
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    z-index: 10;
    transform: translateY(-50%);
    font-size: 4em;
    text-align: center;
    color: #fff;
    margin: 0;
    text-shadow: -1px -1px 1px $blue,
                 0px 4px 1px rgba($blue,0.5),
                 4px 4px 5px rgba($blue,0.7),
                 0px 0px 7px rgba($blue,0.4);

}

}

.businesses {
  list-style: none;
  margin: 1em 0;
  padding: 0;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 20px 0;
    max-width: 30%;
    max-width: calc(33% - 21px);

    .thumb-link img {
      opacity: 0.7;
      transition: all 0.5s;
    }

    .thumb-link:hover img {
      opacity: 1;
    }
    img {
      display: block;
      margin-bottom: 0.5em;
    }
  }
}
