// global grid map
$susy: (
  columns: 12,
  gutters: 1/4,
  global-box-sizing: border-box,
);

.l-container{
  @include container( $above-wide );
  padding-left: 10px;
  padding-right: 10px;

  @include breakpoint($above-stacked){
    padding-left: 30px;
    padding-right: 30px;

    &.flex-container {
      display: flex;
    }
  }
  @include breakpoint($above-wide-plus){
    padding-left: 0;
    padding-right: 0;
  }

  &.skinny{
    @include container( $above-normal );
  }
}

.l-one-third{
  @include breakpoint($above-stacked){
    @include span(4);
    &:nth-child(3n+3){
      @include span(4 last);
    }
    &.l-last{
      @include span(4 last);
    }
    &:nth-child(4n+4){
      clear:both;
    }
  }
}

.l-one-half{
  @include breakpoint($above-stacked){
    @include span(6);
    &.l-last{
      @include span(6 last);
    }
  }
}
