.featured-project {

  .home-featured {
    max-height: 150px;
  }

  @include breakpoint($above-stacked){

    .home-featured {
      max-height: 270px;
    }

    .l-container {
      display: flex;
      align-items: center;
    }

    .l-one-quarter {
      padding-right: 20px;
    }
  }
}
