{% extends "base.html" %}


{% block content %}

    {% load inlines %}
        {% children as posts order_by="-published" %}
        {% autopaginate posts 10 %}
            {% for post in posts %}

              <div class="post-img-wrap">
                <div class="post-img-half">
                  <img src="{% imgix_url post.content.before %}?w=800&h=500&fit=crop">
                  <p>Before</p>
                </div>
                <div class="post-img-half after">
                  <img src="{% imgix_url post.content.main %}?w=800&h=500&fit=crop">
                  <p>After</p>
                </div>
              </div>


                <h3><a href="{{ post.get_absolute_url }}" class="post-link no-underline">{{ post.content.title }}</a></h3>
                <p class="teaser">{{ post.content.content|safe|truncatewords_html:100 }}</p>
                <p class="more"><a href="/{{ post.path }}" class="post-link">read more...</a></p>

                <hr>
            {% empty %}
            <p>No Messages have been posted yet.</p>
            {% endfor %}

            {% paginate %}
{% endblock content %}
