/*--- homepage dates------*/
.date{
	background:$calendar-card-bg-color;
	width: 60px;
	padding:2px;
	float:left;
	margin:0 10px 0 0;
  color: $calendar-card-text-color;
  position: relative;

  .home-events & {
      &:before {
        border-right: 6px solid #fff;
        border-bottom: 6px solid #fff;
      }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top: 6px solid mix($shade, $calendar-card-bg-color, 30%);
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid mix($shade, $calendar-card-bg-color, 30%);;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top: 6px solid transparent;
    border-right: 6px solid $body-bg;
    border-bottom: 6px solid $body-bg;
    border-left: 6px solid transparent;
  }
}
.month{
	font-size:14px;
	line-height: 14px;
  margin-top: 8px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.day{
	font-size:36px;
	line-height: 36px;
  margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
	display: block;
}

.event-details {
  margin-bottom: 2em;
  h1, h2, h3, h4{
    margin-top: 0;
  }
}

.home-events {
  .event {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .date {
      margin-bottom: auto;
      flex-shrink: 0;
    }

    h4 {
      margin: 0;
      flex-grow: 1;
    }
  }
}


//fc overrides
.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
  padding: 0;
}
.l-main table th.fc-widget-header,
.l-main table td.fc-widget-header {
  background-color: $primary-color;
  border: none;
}
.fc-row table {
  margin: 0;
}
.fc-day-grid-container {
  height: auto !important;
}
.fc-day-grid-event .fc-content {
  white-space: normal;
}
.fc-event, .fc-event-dot {
  background-color: $blue;
  border-color: $blue;
}
