.photo-callout-ribbon {

  .l-container {
    display: flex;
  }

  .content-col {
    background: $brown;
    margin: 0 10px 0 -10px;
    padding: 10px;
  }

  .callout-button {
    display: flex;
    align-items: center;

    color: #fff;
    background-color: $green;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 -10px 0 -1px;

    width: 75px;

    line-height: 1;
    text-align: left;

    .arrow-wrap {
      display: block;
    }


    &:hover {
      background-color: mix($shade, $green, 15%);
    }
  }

  h5, small {
    color: #fff;
  }

  small {
    font-size: 0.7em;
    display: block;
  }

  @include breakpoint($above-stacked){
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: center center;



    .content-wrap {
      background-color: rgba($light-beige, 0.3);
    }

    .content-col {
      flex: 1 1 auto;
      padding: 10px;
      margin-right: 10px;
      display: flex;
    }

    h5 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;

      .main-text {
        width: 50%;
        border-right: 1px solid #fff;
        margin-right: 20px;
        padding-right: 20px;
        text-align: right;
        text-transform: uppercase;
      }

      small {
        width: 50%;
        padding-right: 10px;
      }
    }
  }
}
