.search{
    display:block;
    position:relative;
    margin-top: 44px;
}

input[type="search"].search-input{
    width:100%;
    box-sizing:border-box;
    height: 30px;
    padding: 4px 30px 4px 6px;
}
.search-button{
    position:absolute;
    top: 9px;
    right: 10px;
    border:none;
    background: url(../img/search.svg) top left no-repeat transparent;
    width: 25px;
    height: 25px;
    font: 0/0 a;
    color: transparent;
    overflow: hidden;
    margin:0;
    padding:0;
    line-height: 1;
    &:hover{
      opacity: 0.8;
    }
}
