{% load thumbnail %}
            <ul class="thumbnails">
                {% for item in object.items.all %}
                {% thumbnail item.image 1000x1000 as big %}
                {% if forloop.first %}
                <li><a class="fancybox" rel="gallery_id_{{ object.id }}" href="{{ big }}" title="{{ item.caption }}">
                    {% thumbnail item.image 300x250 as sm %}
                    <img src="{{ sm }}" />
                    </a>
                </li>
                {% else %}
                <li style="display:none"><a class="fancybox" rel="gallery_id_{{ object.id }}" href="{{ big }}" title="{{ item.caption }}">
                    hidden link
                    </a></li>
                {% endif %}
                {% endfor %}
            </ul>